<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Google Maps - Angular</title>

	<!-- LIBRARIES, PLUGINS & BOOTSTRAP-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>

	<!-- API -->
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&signed_in=true"></script>

	<!-- STYLESHEETS -->
	<link rel="stylesheet" href="assets/css/style.css">

	<!-- JS -->
	<script type="text/javascript" src="assets/js/cities.js"></script>
	<script type="text/javascript" src="assets/js/controller.js"></script>
</head>
<body ng-controller="mapCtrl">
	<div id="map"></div>
	<!-- LIST OF CITIES -->
	<div id="list-window">
		<!-- FILTER SEARCH OF CITIES -->
		<form ng-submit="updateMarkers(searchString)" class="row form-inline">
			<input id="filter-input" class="form-control" ng-model="searchString" type="text">
			<input class="btn btn-defualt" type="submit" value="Update Map">
			<!-- LOOP THROUGH CITIES OBJECT IN ANG -->
			<div class="city container" ng-repeat="city in (filteredCities = (cities | filter:searchString))">
				<h4>{{city.yearRank}}: {{city.city}}</h4>
				<a class="btn btn-primary sm map-buttons" href="#" ng-click="triggerClick(city.yearRank)">
				Show info
				</a>
				<a class="btn btn-danger sm map-buttons" href="#" ng-click="lodgingSearch(city.latLon)">
				Search Hotels!
				</a>
				
			</div>
		</form>
	</div>
	<div id="map-panel"></div>
</body>
</html>











