<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Google Maps - Angular</title>

	<!-- LIBRARIES, PLUGINS & BOOTSTRAP-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>

	<!-- API -->
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&signed_in=true"></script>

	<!-- STYLESHEETS -->
	<link rel="stylesheet" href="assets/css/style.css">

	<!-- JS -->
	<script type="text/javascript" src="assets/js/cities.js"></script>
	<script type="text/javascript" src="assets/js/controller.js"></script>
</head>
<body ng-controller="mapCtrl">
	<div id="map"></div>
	<!-- LIST OF CITIES -->
	<div id="list-window">
		<!-- FILTER SEARCH OF CITIES -->
		<form ng-submit="updateMarkers(searchString)" class="row form-inline">
			<input id="filter-input" class="form-control" ng-model="searchString" type="text">
			<input class="btn btn-defualt" type="submit" value="Update Map">
			<!-- INITIALIZE THE items VARIABLE TO THE cities OBJECT ARRAY & SET THE items TO cites WHEN CLICKED -->
			<input class="btn btn-defualt" ng-model="items" type="button" ng-click="items = cities; createCityMarkers()"  value="All Cities">

			<!-- LOOP THROUGH OBJECT ARRAY IN ANG -->
			<div class="city container"  ng-repeat="item in (filteredItems = (items | filter:searchString))">
				<!-- SHOW THIS INFO IF THE ITEMS BEING LOOPED THROUGH ARE THE cities OBJECT -->
				<span ng-show="items == cities">
					<h4>{{item.yearRank}}: {{item.city}}</h4>
					<a class="btn btn-primary sm map-buttons" href="#" ng-click="triggerClick(item.yearRank-1)">
						Show info
					</a>
					<a class="btn btn-danger sm map-buttons" href="#" ng-click="lodgingSearch(item.latLon); showHotels()">
						Search Hotels!
					</a>
				</span>
				
				<!-- SHOW THIS INFO IF THE ITEMS BEING LOOPED THROUGH ARE THE hotel OBJECT -->
				<span ng-show="items == hotels">
					<h4><a href="#" ng-click="showLocation(item.geometry.location, item.name, 'assets/images/hotel.png')">{{item.name}}</a></h4>
					<p>{{item.vicinity}}</p>
					<a class="btn btn-primary sm map-buttons" href="#" ng-click="findRestuarants(item.geometry.location, item.name)">
						Find Restuarants
					</a>
					<a class="btn btn-danger sm map-buttons" href="#" ng-click="findGasStations(item.geometry.location, item.name)">
						Find Gas Stations
					</a>
				</span>
			</div>
		</form>
	</div>
	<div id="map-panel"></div>
</body>
</html>











